{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" />
    <script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript" src="{% static "todos.js" %}"></script>
    <script type="text/javascript">
     // for(let key in chp_build) { window[key] = chp[key]};
    </script>
  </head>
  <body>
    {{ view.body }}
    <script>window.mdc.autoInit();</script>
  </body>
</html>
