{% load static %}
<html>
  <head>
    <link rel="shortcut icon" type="image/png" 
      href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "output.css" %}" />
  </head>
  <body>
    <form id="form-django" method="POST">
      {% csrf_token %}
    
      {{ form }}
    
      <div class="mdc-button">
        <button form="form-django" type="submit">Submit</button>
      </div>
    </form>

    {{ form.render }}

    <form id="form-mdc" method="POST">
      {% csrf_token %}

    <div class="mdc_layout_grid__cell">
    <div style="display: flex;">

    <div class="mdc-form-field mdc-form-field--align-end" data-mdc-auto-init="MDCFormField">
      <div class="mdc-checkbox" data-mdc-auto-init="MDCCheckbox">
        <input id="my-checkbox" type="checkbox" class="mdc-checkbox__native-control"/>
        <div class="mdc-checkbox__background">
        </div>
      </div>
      <label for="my-checkbox">This is my checkbox</label>
    </div>

    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
      <input id="text-input" class="mdc-text-field__input" type="text" >
      <label for="text-input" class="mdc-floating-label">Input Label</label>
      <div class="mdc-line-ripple"></div>
    </div>

    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
      <input
        id="date-input"
        class="mdc-text-field__input"
        type="date"
      >
      <label
        for="date-input"
        class="mdc-floating-label"
      >Type = date</label>
      <div class="mdc-line-ripple"></div>
    </div>

    <div class="mdc-select" data-mdc-auto-init="MDCSelect">
      <select id="select-input" class="mdc-select__native-control">
        <option value="" disabled selected></option>
        <option value="grains">
          Bread, Cereal, Rice, and Pasta
        </option>
        <option value="vegetables">
          Vegetables
        </option>
        <option value="fruit">
          Fruit
        </option>
      </select>
      <label for="select-input" class="mdc-floating-label">Pick a Food Group</label>
      <div class="mdc-line-ripple"></div>
    </div>

    </div>  <!-- class="mdc_layout_grid__cell" -->

    <div class="mdc-button">
      <button form="form-mdc" type="submit">Submit</button>
    </div>

    </div>  <!-- div style="display: flex;" -->

    </form>

    <form class="mui-form" id="form-mui" method="POST">
      {% csrf_token %}

    <div class="mui-container-fluid">
      <div class="mui-row">
      <div class="mui-col-md-6">

    <div class="mui-checkbox">
        <label>
            <input id="my-checkbox" type="checkbox"/>
            This is my checkbox
        </label>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
      <input id="text-input" type="text">
      <label>Input Label</label>
    </div>

    <!--
    # MUI doesn't float labels for 'date' or 'select' fields.
    -->
    <div class="mui-textfield">
      <input id="date-input" type="date" >
      <label>Type = date</label>
    </div>

    <div class="mui-select">
      <select id="select-input">
        <option value="" disabled selected></option>
        <option value="grains">
          Bread, Cereal, Rice, and Pasta
        </option>
        <option value="vegetables">
          Vegetables
        </option>
        <option value="fruit">
          Fruit
        </option>
      </select>
      <label for="select-input">Pick a Food Group</label>
    </div>

    <div>
      <button class="mui-btn mui-btn--primary" form="form-mui" type="submit">Submit</button>
    </div>

      </div>  <!-- class="mui-row" -->
      </div>  <!-- class="mui-col-md-6" -->
    </div>  <!-- class="mui-container-fluid" -->
    </form>

    <script type="text/javascript" src="{% static "output.js" %}"></script>
  </body>
</html>
